.container {
  color: white;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 2rem;
  margin-top: 0;
}

.actionButton {
  font: inherit;
  cursor: pointer;
  background-color: var(--green-solid-300);
  border: 1px solid var(--green-solid-300);
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  margin: 2px;
}

.actionButton:hover,
.actionButton:active {
  background-color: var(--green-solid-100);
  border-color: var(--green-solid-100);
}

.cancelButton {
  font: inherit;
  cursor: pointer;
  background-color: var(--red-solid-300);
  border: 1px solid var(--red-solid-300);
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  margin: 2px;
}

.cancelButton:hover,
.cancelButton:active {
  background-color: var(--red-solid-100);
  border-color: var(--red-solid-100);
}

.errorText {
  color: var(--red-solid-300);
}
