@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

:root {
  --grey-solid-900: #3b3b3b;
  --grey-solid-700: #545353;
  --green-solid-300: #30c667;
  --green-solid-100: #4af187;
  --red-solid-300: #cc5151;
  --red-solid-100: #d95858;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: var(--grey-solid-900);
}
